/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html{
    font-family: 'Fredoka',sans-serif;
    font-size: 100%;
}

/* Main */
.container{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    /* debug */
    background-color: lightcoral;
    border:1px solid black
}

h1{
    color:#E53170;
    padding: 2rem;
}