/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html{
    font-family: 'Fredoka',sans-serif;
    font-size: 62.5%;
}

/* Main-Title */
.title{
    text-align: center;
}
.container{
    margin: 0 auto;
    width: 80%;
}

h1{
    font-size: 3rem;
    color:#E53170;
    padding: 2rem;
}
p{
    font-size: 1.3rem;
}
/* Profile-Link */

.banner{
    width: calc(100% / 3);
    float: left;
    height: 100px;
    margin-top: 3rem;
    
}
img{
    float: left;
    line-height: 100px;
    height: 100px;
}
.text{
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
    background-color: black;
    display:inline-block;
    
}